# Виртуальное окружение
venv/

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Файлы и папки, создаваемые инструментами сборки и развертывания
build/
dist/
*.egg-info/

# Файлы конфигурации и кэша
.env
.vscode/
.idea/
.DS_Store

# Локальные файлы и папки, создаваемые инструментами разработки
.ipynb_checkpoints/
